/*
*****************************************
                CSS CLEAR
*****************************************
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

ol, ul 
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after 
{
	content: '';
	content: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*****************************************
                MY EDITS
*****************************************
*/

html body 
{
    line-height: 1;
    background-color: #252525;
    font-family: code_lightregular;
    color: #399ecf;
    font-size: 30px;
    letter-spacing: 2.5px;
    min-height: 600px;
    min-width: 600px;
}

#container
{
    width: 100%;
    margin: 0 auto;
}

#clk
{
    position: absolute;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    text-align: right;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
}

#clk span
{
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 30px;
}

#time
{
    top: 50%;
    left: 50%;
    position: absolute;
    letter-spacing: 12px;
    font-size: 120px;
    line-height: 98px;
}

/*
*****************************************
                FONTS
*****************************************
*/

@font-face {
    font-family: 'code_lightregular';
    src: url('../fonts/code_light-webfont.eot');
    src: url('../fonts/code_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/code_light-webfont.woff') format('woff'),
         url('../fonts/code_light-webfont.ttf') format('truetype'),
         url('../fonts/code_light-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}